header{ 
    background-color:#272b3d;	
	color:white;
    height:auto; 
    overflow:auto;
}
.top-info{
	font-family:Nunito;
	font-size:20px;
}

.top-info p{
	padding-left:80px;
	padding-top:10px;
	padding-bottom:7px;
}

.ico{
	color:orange;
}
.main-nav h3{
	font-size:30px;
}
.icoflip{
	transform: scale(-1, 1);
	color:orange;
}
nav h3{
	display: inline;
	padding-left:10px;
	font-size:20px;
	text-align:center;
}

nav{
	margin-top:20px;
}

nav h3 a {
	color:black;
	
}

nav h3 a:hover{
	background-color:red;
	padding:20px;
	text-decoration:none;
	color:white;
}

.image-display{
	height:400px;
	background-image: url("../images/iph_custom-packaging.jpg");
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /
}

.image-display h3{
	color:white;
}

button {
	padding:19px;
	background-color: Transparent;
	outline:none;
	border-color:white;
    cursor:pointer;
	
}

button a{
	color:white;
}

button a:hover{
	color:white;
	text-decoration:none;
}

button:hover{
	background-color:orange;
	padding:19px;
	color:white;
	outline:none;
	border:none;
}
.content{
	margin-top:60px;
}

.con{
	border-style:solid;
	margin-bottom:20px;
	margin-right:50px;
	background-color:#b2beb5 ;
	border-radius:5px;
	border:1px;
	padding-bottom:10px;
	
}

.con:hover{
	background-color:#272b3d;
	color:white;
	font-family: 'Roboto', sans-serif;
}

.con h3{
	color:white;
	padding-bottom:10px;
	font-family: 'Roboto', sans-serif;
}

.con h4{
	padding-bottom:10px;
	line-height:35px;
	font-family: 'Roboto', sans-serif;
}